/**
 *	Custom CSS for jmardjuki's website
 */


#cboxOverlay{ 
	visibility: visible;
	background-color: black;
	opacity: 0.80 !important;
}

 /* Section 1: TOP */
#section1{
	background-image: url(../image/bg/bg10.JPG);
	background-size: 100% auto;
	background-repeat:no-repeat;
}

#section1 .intro li {
	display: inline;
    margin-right: 3px;
    margin-top: 6%;
}

#section1 h3{
	color: #FFF;
}

#section1 #logo_text{
	margin-top: 3%;
}

/* Section 3: Projects */;
#section3 #project_year_selecion {
	margin-top: 3%;
	margin-bottom: 3%;
}
#section3 .intro li {
	display: inline;
    margin-right: 3px;
    margin-top: 6%;
}
.project_box {
	color: black;
	font-size: 150%;
}

.project_box_list {
	list-style: circle;
	color: black;
	margin-left: 3%;
}
#project_content_2015{
	float: center;
}
.project_top_row{
    display:-webkit-flex;
    -webkit-justify-content:center;

    display:flex;
    justify-content:center;	
}
.inline {
	color: red;
}
.project_image {
	width: 50%;
	height: auto;
}
.project_image_horizontal {
	width: 30%;
	height: auto;
}

#project_image_too_small {
	width: 80%;
	height: auto;
}
.project_bottom_row{
	padding-top: 4%;
    display:-webkit-flex;
    -webkit-justify-content:center;

    display:flex;
    justify-content:center;	
}

div.project_inline { 
    -webkit-flex:1;
    flex:1;
}
.project_date {
	color: red;
}
.clearBoth { 
	clear:both; 
}
#project_year a{
	color: green;
}
#project_year a:hover{
	color: red;
}